<h1>Edit Your Profile</h1> <a href="/events">Events Dashboard</a> <a href="/logout" data-method="delete">Logout</a>

<form action="/user/<%=@user.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="put">
    <p>First Name: <input type="text" name="first_name" value="<%=@user.first_name%>"></p>
    <p>Last Name: <input type="text" name="last_name" value="<%=@user.last_name%>"></p>
    <p>Email: <input type="text" name="email" value="<%=@user.email%>"></p>
    <p>Location: <input type="text" name="city" value="<%=@user.city%>">
        <select name="state">
            <option value="CA">CA</option>
            <option value="WA">WA</option>
            <option value="NY">NY</option>
            <option value="IL">IL</option>
        </select>
    </p>
    <input type="submit" value="Update Account">
</form>